::-webkit-input-placeholder { /* Chrome */
  color:  rgba(0,0,0,0.4);;
  opacity: .85;
}
:-ms-input-placeholder { /* IE 10+ */
  color:  rgba(0,0,0,0.4);;
  opacity: .85;
}
::-moz-placeholder { /* Firefox 19+ */
  color:  rgba(0,0,0,0.4);;
  opacity: .85;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(0,0,0,0.4);;
  opacity: .85;
}

.momentum-responsive-profile-img {
  margin: 0 auto;
}

@media only screen and (max-width: 720px) {
  .momentum-responsive-header-img {
    padding: 0 1em 0 1em;
  }
}

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: #fed136; }

.speakerimg {
  border-radius: 112.5px;  
}

.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

.signup-form .text-input {
  width: 100%;
  font-size: 1.5em;
  border-radius: 3px;
  border-bottom: 1px solid  rgba(0,0,0,0.4);
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 2em;
}

.signup-form .first-field {
  margin-top: 1em;
}